h2 {
  font-size: 1.8em !important;
}
h3 {
  font-size: 1.3em !important; 
}
img {
    width: 50% !important;
    margin: auto !important;
    display: block;
}
ul, ol {
 margin-left: 6% !important; 
}
